<div>

<h1>How Many Times Greeted</h1>

<p>Hello {{username}} you have been greeted {{indiCounter}} times</p>


</div>

<div>

   <button style="background-color: aqua;"><a href="/greeted">Go Back</a></button>

</div>